trigger:
  branches:
    include:
    - main
  paths:
    include:
    - requirements.txt
    - azure-pipelines.yml
    - templates/*.yml

pool:
  vmImage: 'ubuntu-latest'

variables:
  python.version: '3.8'
  venv.dir: '.venv'

steps:
- template: templates/python-setup.yml
  parameters:
    pythonVersion: '$(python.version)'
    requirementsFile: 'requirements.txt'
    venvDir: '$(venv.dir)'

- script: |
    source $(venv.dir)/bin/activate
    python sync_snowflake_packages.py \
      --stage @$(SNOWFLAKE_DATABASE).$(SNOWFLAKE_SCHEMA).PACKAGES_STAGE \
      --proget-url "$(PROGET_URL)"
  displayName: 'Sync Packages to Snowflake'
  env:
    SNOWFLAKE_ACCOUNT: $(SNOWFLAKE_ACCOUNT)
    SNOWFLAKE_USER: $(SNOWFLAKE_USER)
    SNOWFLAKE_PASSWORD: $(SNOWFLAKE_PASSWORD)
    SNOWFLAKE_ROLE: $(SNOWFLAKE_ROLE)
    SNOWFLAKE_WAREHOUSE: $(SNOWFLAKE_WAREHOUSE)
    SNOWFLAKE_DATABASE: $(SNOWFLAKE_DATABASE)
    SNOWFLAKE_SCHEMA: $(SNOWFLAKE_SCHEMA)
    PROGET_URL: $(PROGET_URL)


